src/pug/inc/about.pug
.about-box
	.photo-face
		.photo-face-box
			.clearfix.absolute
				img(src="/assets/templates/natalya/images/about.jpg" alt="[+pagetitle:hsc*]")
	.about-info
		.clearfix
			p
				|Год рождения: 1895
			p
				|Место рождения: Пермь
			p
				|И что то о себе, может быть места работ хз....И что то о себе, может быть места работ хз....И что то о себе, может быть места работ хз....И что то о себе, может быть места работ хз....И что то о себе, может быть места работ хз....И что то о себе, может быть места работ хз....И что то о себе, может быть места работ хз....И что то о себе, может быть места работ хз....И что то о себе, может быть места работ хз....И что то о себе, может быть места работ хз....

assets/templates/natalya/about.html
<!DOCTYPE html>
<html class="no-js" lang="ru" prefix="og: http://ogp.me/ns#">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
		<meta name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284c">
		<title>[*titl*]</title>
		<base href="/">
		<link rel="shortcut Icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		[*noIndex*]
		<meta name="title" content="[*titl:hsc*]">
		<meta name="description" content="[*desc:hsc*]">
		<meta name="keywords" content="[*keyw:hsc*]">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="[(*site_name:hsc*)]">
		<meta property="og:title" content="[*titl:hsc*]">
		<meta property="og:description" content="[*desc:hsc*]">
		<meta property="og:locale" content="ru_RU">
		<meta property="og:url" content="[[#ogUrl]]">
		[[#ogImage]]
		[!#addCss? &list=`assets/templates/natalya/css/main.css` &type=`content`!]
	</head>
	<body>
		<div class="mainpage" id="mainpage">
			<header class="clearfix" id="header">
			<nav class="navhead" role="navigation">
				<div class="brand">
					<a class="link" href="/">
						<div class="brand-logo">
							<img src="assets/templates/natalya/images/logotip.svg" alt="Логотип Наталья Мазаева">
						</div>
						<div class="brand-text">
							<span class="brand-text-up">Наталья Мазаева</span>
							<span class="brand-text-down">Флорист - декоратор</span>
						</div>
					</a>
				</div>
				<div class="navbar">
					<ul class="navbar-list">
						<li class="navbar-list-li">
							<a class="link" href="[~15~]">Обо мне</a>
						</li>
						<li class="navbar-list-li">
							<a class="link" href="[~16~]">Работы</a>
						</li>
						<li class="navbar-list-li">
							<a class="link" href="[~18~]">Контакты</a>
						</li>
					</ul>
				</div>
			</nav>
				<div class="header-block">
					<div class="header-block-hero">
						<div class="header-block-title">
							<h1>[*h1*]</h1>
							<@IF:[*pageImage:isnotempty*]>
							<div class="header-block-title-image">
								<div class="clearfix absolute">
									<img src="[*pageImage*]" alt="[*h1:hsc*]">
								</div>
							</div>
							<@ENDIF>
						</div>
						<div class="header-block-text">[*content*]</div>
					</div>
				</div>
			</header>
			<div id="sectionpage">
				<div class="section-page load" role="main" id="pagewrapper">
			<div class="about-box">
				<div class="photo-face">
					<div class="photo-face-box">
						<div class="clearfix absolute">
							<img src="[*aboutImg*]" alt="[*pagetitle:hsc*]">
						</div>
					</div>
				</div>
				<div class="about-info">
					<div class="clearfix">
						[*dopcontent*]
					</div>
				</div>
			</div>
				</div>
			</div>
			<footer class="footer">
				<div class="footer--copyright">Сайт портфолио - Наталья Мазаева 2019</div>
				<div class="footer--copyright--bottom">Все работы представленные на сайте принадлежат автору Наталье Мазаевой и являются интеллектуальной собственностью автора. Использование любых материалов сайта разрешается строго с разрешения автора.</div>
				<div class="nicestudio"><a href="https://nice.studio/" target="_blank">Дизайн, Разработка, Продвижение<br>WEB-студия «Nice»</a></div>
			</footer>
		</div>
		<script>
			window.yepnope=function(a,b){function c(){}function d(a){return Object(a)===a}function e(a){return"string"==typeof a}function f(){return"yn_"+q++}function g(){o&&o.parentNode||(o=b.getElementsByTagName("script")[0])}function h(a){return!a||"loaded"==a||"complete"==a||"uninitialized"==a}function i(b,c){c.call(a)}function j(a,j){var k,l,m;e(a)?k=a:d(a)&&(k=a._url||a.src,l=a.attrs,m=a.timeout),j=j||c,l=l||{};var q,r,t=b.createElement("script");m=m||n.errorTimeout,t.src=k,s&&(t.event="onclick",t.id=t.htmlFor=l.id||f());for(r in l)t.setAttribute(r,l[r]);t.onreadystatechange=t.onload=function(){if(!q&&h(t.readyState)){if(q=1,s)try{t.onclick()}catch(a){}i(k,j)}t.onload=t.onreadystatechange=t.onerror=null},t.onerror=function(){q=1,j(new Error("Script Error: "+k))},p(function(){q||(q=1,j(new Error("Timeout: "+k)),t.parentNode.removeChild(t))},m),g(),o.parentNode.insertBefore(t,o)}function k(f,h){var i,j,k={};d(f)?(i=f._url||f.href,k=f.attrs||{}):e(f)&&(i=f);var l=b.createElement("link");h=h||c,l.href=i,l.rel="stylesheet",l.media="only x",l.type="text/css",p(function(){l.media=k.media||"all"});for(j in k)l.setAttribute(j,k[j]);g(),o.parentNode.appendChild(l),p(function(){h.call(a)})}function l(a){var b=a.split("?")[0];return b.substr(b.lastIndexOf(".")+1)}function m(a,b){var c=a,d=[],e=[];for(var f in b)b.hasOwnProperty(f)&&(b[f]?d.push(encodeURIComponent(f)):e.push(encodeURIComponent(f)));return(d.length||e.length)&&(c+="?"),d.length&&(c+="yep="+d.join(",")),e.length&&(c+=(d.length?"&":"")+"nope="+e.join(",")),c}function n(a,b,c){var e;d(a)&&(e=a,a=e.src||e.href),a=n.urlFormatter(a,b),e?e._url=a:e={_url:a};var f=l(a);if("js"===f)j(e,c);else{if("css"!==f)throw new Error("Unable to determine filetype.");k(e,c)}}var o,p=a.setTimeout,q=0,r={}.toString,s=!(!b.attachEvent||a.opera&&"[object Opera]"==r.call(a.opera));return n.errorTimeout=1e4,n.injectJs=j,n.injectCss=k,n.urlFormatter=m,n}(window,document);
		</script>
		<script>
			var time = (new Date()).getTime();
			yepnope.injectCss('https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic%7CRoboto:regular,500,700&subset=cyrillic,latin');
			yepnope('/assets/templates/natalya/js/appjs.js?'+time, undefined, function() {
				yepnope('/assets/templates/natalya/js/main.js?'+time, undefined, function() {

				});
			});
		</script>
	</body>
</html>
